In [1]:
import numpy as np
import pandas as pd

In [2]:
!ls

Untitled.ipynb
exts-ada.yml
file.csv

In [3]:
df = pd.read_csv('file.csv')

In [4]:
df

        a   b  c    d
0  yellow  10  2  3.2
1   green   2  3  8.1
2    blue   7  1  0.4

In [5]:
pd.read_csv('file.csv', header=None)

        0   1  2    3
0       a   b  c    d
1  yellow  10  2  3.2
2   green   2  3  8.1
3    blue   7  1  0.4

In [6]:
pd.read_csv('file.csv',names=['column 1','column 2','column 3','column 4'])

  column 1 column 2 column 3 column 4
0        a        b        c        d
1   yellow       10        2      3.2
2    green        2        3      8.1
3     blue        7        1      0.4

In [7]:
pd.read_csv('file.csv', index_col=0)

         b  c    d
a
yellow  10  2  3.2
green    2  3  8.1
blue     7  1  0.4

In [8]:
df.dtypes

a     object
b      int64
c      int64
d    float64
dtype: object

In [9]:
df2 = pd.read_csv('file.csv',  dtype = { 'b' : np.float64})
df2.dtypes

a     object
b    float64
c      int64
d    float64
dtype: object

In [10]:
df2 = pd.read_csv('file.csv',  dtype = { 'a' : np.int64})

ValueError: invalid literal for int() with base 10: 'yellow'

In [11]:
pd.read_csv("file.csv", usecols=['a', 'b'])

        a   b
0  yellow  10
1   green   2
2    blue   7

In [13]:
pd.read_table('file.txt', sep='|')

        a   b  c   d
0  yellow  10  2  3.2
1   green   2  3  8.1
2    blue   7  1  0.4

In [14]:
pd.read_excel('data.xls')

       varA      varB      varC
0  0.391723 -0.155122  0.381104
1  0.575125 -0.105817  0.232245
2  0.672305  0.424688 -0.694795
3  0.766115 -0.791350 -0.028739
4  0.677259 -0.817543 -0.537088
5 -0.029702 -0.891848 -0.682719
6 -0.161366 -0.659600 -0.727898
7  0.031672  0.016607 -0.940479
8  0.833212 -0.503236 -0.887210
9  0.907753  0.265177 -0.390762

In [15]:
pd.read_excel('data.xls', sheetname='Sheet2')

       varD      varE      varF
0  0.907753  0.265177 -0.390762
1  0.755019 -0.768056 -0.528307
2  0.850692 -0.537159 -0.601387
3  0.131663  0.941327  0.240073
4  0.574400  0.091735 -0.395277
5  0.816630  0.875612 -0.880044
6  0.536732  0.175428 -0.473053
7 -0.084641 -0.042827  0.053344
8  0.268271 -0.010628 -0.090952
9  0.166792 -0.872579 -0.556899

In [16]:
pd.read_json('frame.json')

      col1  col2  col3  col4
row1     0     1     2     3
row2     4     5     6     7
row3     8     9    10    11
row4    12    13    14    15

In [17]:
pd.read_json('books.json')

                                               books
0  {'isbn': '9781593275846', 'title': 'Eloquent J...
1  {'isbn': '9781449331818', 'title': 'Learning J...
2  {'isbn': '9781449365035', 'title': 'Speaking J...

In [18]:
import json
from pandas.io.json import json_normalize
file = open('books.json', 'r')
json_string = file.read()
dictionary = json.loads(json_string)

In [19]:
dictionary

{'books': [{'author': 'Marijn Haverbeke',
   'description': 'JavaScript lies at the heart of almost every modern web application, from social apps to the newest browser-based games. Though simple for beginners to pick up and play with, JavaScript is a flexible, complex language that you can use to build full-scale applications.',
   'isbn': '9781593275846',
   'pages': 472,
   'published': '2014-12-14T00:00:00.000Z',
   'publisher': 'No Starch Press',
   'subtitle': 'A Modern Introduction to Programming',
   'title': 'Eloquent JavaScript, Second Edition',
   'website': 'http://eloquentjavascript.net/'},
  {'author': 'Addy Osmani',
   'description': "With Learning JavaScript Design Patterns, you'll learn how to write beautiful, structured, and maintainable JavaScript by applying classical and modern design patterns to the language. If you want to keep your code efficient, more manageable, and up-to-date with the latest best practices, this book is for you.",
   'isbn': '9781449331818',
   'pages': 254,
   'published': '2012-07-01T00:00:00.000Z',
   'publisher': "O'Reilly Media",
   'subtitle': "A JavaScript and jQuery Developer's Guide",
   'title': 'Learning JavaScript Design Patterns',
   'website': 'http://www.addyosmani.com/resources/essentialjsdesignpatterns/book/'},
  {'author': 'Axel Rauschmayer',
   'description': 'Like it or not, JavaScript is everywhere these days-from browser to server to mobile-and now you, too, need to learn the language or dive deeper than you have. This concise book guides you into and through JavaScript, written by a veteran programmer who once found himself in the same position.',
   'isbn': '9781449365035',
   'pages': 460,
   'published': '2014-02-01T00:00:00.000Z',
   'publisher': "O'Reilly Media",
   'subtitle': 'An In-Depth Guide for Programmers',
   'title': 'Speaking JavaScript',
   'website': 'http://speakingjs.com/'}]}

In [20]:
json_normalize(dictionary, 'books')

,author,description,isbn,pages,published,publisher,subtitle,title,website
0,Marijn Haverbeke,JavaScript lies at the heart of almost every m...,9781593275846,472,2014-12-14T00:00:00.000Z,No Starch Press,A Modern Introduction to Programming,"Eloquent JavaScript, Second Edition",http://eloquentjavascript.net/
1,Addy Osmani,"With Learning JavaScript Design Patterns, you'...",9781449331818,254,2012-07-01T00:00:00.000Z,O'Reilly Media,A JavaScript and jQuery Developer's Guide,Learning JavaScript Design Patterns,http://www.addyosmani.com/resources/essentialj...
2,Axel Rauschmayer,"Like it or not, JavaScript is everywhere these...",9781449365035,460,2014-02-01T00:00:00.000Z,O'Reilly Media,An In-Depth Guide for Programmers,Speaking JavaScript,http://speakingjs.com/

In [21]:
import requests
page=requests.get('http://en.proverbia.net/shortfamousquotes.asp')

In [22]:
page.text[0:100]

'\r\n<!DOCTYPE html>\r\n\r\n<html  lang="en" xml:lang="en">\r\n<head>\r\n<title>Short Famous Quotes. Short famo'

In [23]:
page.status_code

200

In [24]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(page.text, 'html.parser')

In [25]:
soup

<!DOCTYPE html>

<html lang="en" xml:lang="en">
<head>
<title>Short Famous Quotes. Short famous quotes about love, life and friendship for your Messenger nick</title>
<meta charset="utf-8"/>
<meta content="short love quotes, short life quotes, short quotes, love quotes, love quotations, short quotations,famous quotations,life quotations,nick,messenger,msn messenger,aol messenger,yahoo messenger" name="keywords"/>
<meta content="Short famous quotes about love, life and friendship for your favorite messenger. MSN, Yahoo, AOL, etc..
" name="description"/>
<link href="global.css" rel="stylesheet" type="text/css"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet" type="text/css"/>
<link href="/css/reset.css" rel="stylesheet" type="text/css">
<link href="/global.css" rel="stylesheet" type="text/css"/>
<!-- Google Analytics -->
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-59682-3', 'auto');
    ga('send', 'pageview');
</script>
<!-- End Google Analytics -->
</link></head>
<body>
<!-- google_ad_section_start(weight=ignore) -->
<header id="header">
<a href="/default.asp" title="Famous Quotes, Quotations and Proverbs in Proverbia.net">
<img alt="Famous Quotes, Quotations and Proverbs in Proverbia.net" border="0" height="76" src="/images/pavan.jpg" width="960"/>
</a>
<nav id="menu">
<ul class="menu" id="menul">
<li><a href="default.asp" title="Go to Home">Home</a></li><li><a href="citasautores.asp" title="Famous Quotes by author">Authors</a></li><li><a href="citastemas.asp" title="Famous Quotes by topic">Topics</a></li><li><a href="proverbs.asp" title="Proverbs">Proverbs</a></li><li><a href="searchquotations.asp" title="Search Famous Quotes">Search</a></li></ul>
<a href="javascript:" id="pull">MenÃº</a>
</nav>
<nav id="submenuheader">
<a href="http://www.proverbia.net/default.asp" title="frases en espaÃ±ol">versiÃ³n espaÃ±ola</a>
</nav></header>
<!-- google_ad_section_end -->
<script type="text/javascript">

    var pull = document.getElementById('pull');
    pull.addEventListener('click', function (e) {
        var menu = document.getElementById('menul');
        //alert(menu.style.display);
        switch (menu.style.display) {
            case 'block':
                menu.style.display = 'none';
                this.innerHTML = 'MenÃº';
                break;
            case 'none':
                menu.style.display = 'block';
                this.innerHTML='Cerrar';
                break;
            default:
                menu.style.display = 'block';
                this.innerHTML='Cerrar';

        }
    }, false);


</script>
<div id="container">
<div id="content"><a href="default.asp">Home</a> &gt;
      <h1>Short Famous Quotes</h1>
<p>A collection of famous quotes for your favorite Messenger's nick.</p>
<div class="ql" id="ql">
<div class="q">
<blockquote>There is a natural aristocracy among men. The grounds of this are virtue and talents. </blockquote>
<p class="a">
<a href="/citasautor.asp?autor=13797" title="Thomas Jefferson Quotes">Thomas Jefferson</a> <span>(1743-1826) Third president of the United States.</span>
</p>
<p class="s">» <span>More quotes on </span> <a href="/citastema.asp?tematica=71" title="Aristocracy Quotes">Aristocracy</a> </p>
<ul class="o">
</ul>
</div> <div class="q">
<blockquote>All our words from loose using have lost their edge. </blockquote>
<p class="a">
<a href="/citasautor.asp?autor=13355" title="Ernest Hemingway Quotes">Ernest Hemingway</a> <span>(1898-1961) American Writer.</span>
</p>
<p class="s">» <span>More quotes on </span> <a href="/citastema.asp?tematica=1315" title="Words Quotes">Words</a> </p>
<ul class="o">
</ul>
</div> <div class="q">
<blockquote>God couldn't be everywhere, so he created mothers </blockquote>
<p class="a">
<a href="/citasautor.asp?autor=15888" title="Jewish proverb Quotes">Jewish proverb</a> <span></span>
</p>
<p class="s">» <span>More quotes on </span> <a href="/citastema.asp?tematica=787" title="Mothers Quotes">Mothers</a> </p>
<ul class="o">
</ul>
</div> <div class="q">
<blockquote>Be not afraid of going slowly, be afraid only of standing still. </blockquote>
<p class="a">
<a href="/citasautor.asp?autor=15866" title="Chinese proverb Quotes">Chinese proverb</a> <span></span>
</p>
<p class="s">» <span>More quotes on </span> <a href="/citastema.asp?tematica=955" title="Progress Quotes">Progress</a> </p>
<ul class="o">
</ul>
</div> <div class="q">
<blockquote>Learn from yesterday, live for today, hope for tomorrow. </blockquote>
<p class="a">
<a href="/citasautor.asp?autor=17381" title="Unknown Source Quotes">Unknown Source</a> <span></span>
</p>
<p class="s">» <span>More quotes on </span> <a href="/citastema.asp?tematica=708" title="Life Quotes">Life</a> </p>
<ul class="o">
</ul>
</div> <div class="q">
<blockquote>Do not confine your children to your own learning, for they were born in another time. </blockquote>
<p class="a">
<a href="/citasautor.asp?autor=15866" title="Chinese proverb Quotes">Chinese proverb</a> <span></span>
</p>
<p class="s">» <span>More quotes on </span> <a href="/citastema.asp?tematica=185" title="Children Quotes">Children</a> </p>
<ul class="o">
</ul>
</div> <div class="q">
<blockquote>I hear and I forget, I see and I remember. I do and I understand. </blockquote>
<p class="a">
<a href="/citasautor.asp?autor=15866" title="Chinese proverb Quotes">Chinese proverb</a> <span></span>
</p>
<p class="s">» <span>More quotes on </span> <a href="/citastema.asp?tematica=15" title="Action Quotes">Action</a> </p>
<ul class="o">
</ul>
</div> <div class="q">
<blockquote>In teaching others we teach ourselves. </blockquote>
<p class="a">
<a href="/citasautor.asp?autor=15855" title="Proverb Quotes">Proverb</a> <span></span>
</p>
<p class="s">» <span>More quotes on </span> <a href="/citastema.asp?tematica=1197" title="Teachers Quotes">Teachers</a> </p>
<ul class="o">
</ul>
</div> <div class="q">
<blockquote>Happiness will never come to those who fail to appreciate what they already have. </blockquote>
<p class="a">
<a href="/citasautor.asp?autor=17381" title="Unknown Source Quotes">Unknown Source</a> <span></span>
</p>
<p class="s">» <span>More quotes on </span> <a href="/citastema.asp?tematica=548" title="Happiness Quotes">Happiness</a> </p>
<ul class="o">
</ul>
</div> <div class="q">
<blockquote>Without His love I can do nothing, with His love there is nothing I cannot do. </blockquote>
<p class="a">
<a href="/citasautor.asp?autor=17381" title="Unknown Source Quotes">Unknown Source</a> <span></span>
</p>
<p class="s">» <span>More quotes on </span> <a href="/citastema.asp?tematica=720" title="Love Quotes">Love</a> </p>
<ul class="o">
</ul>
</div><div class="pub">
<p class="ads">Advertisment</p>
<script type="text/javascript"><!--
google_ad_client = "ca-pub-3410145742764658";
/* REC 336x280 EN */
google_ad_slot = "3115507950";
google_ad_width = 336;
google_ad_height = 280;
//-->
</script>
<script src="http://pagead2.googlesyndication.com/pagead/show_ads.js" type="text/javascript">
</script>
</div><div id="paginas"><strong>1</strong> <a href="/shortfamousquotes.asp?page=2" title="Pï¿½gina 2">2</a> <a href="/shortfamousquotes.asp?page=3" title="Pï¿½gina 3">3</a> <a href="/shortfamousquotes.asp?page=4" title="Pï¿½gina 4">4</a> <a href="/shortfamousquotes.asp?page=5" title="Pï¿½gina 5">5</a> <a href="/shortfamousquotes.asp?page=6" title="Pï¿½gina 6">6</a> <a href="/shortfamousquotes.asp?page=2" title="Pï¿½gina 2">Next &gt;</a></div></div>
</div>
<div id="relmenu">
<div class="opt">
<h2>More quotations</h2>
<ul>
<li><a href="shortfamousquotes.asp" title="Short famous quotes">Short famous quotes</a></li>
<li><a href="shortlovequotes.asp" title="Short love quotes">Short love quotes</a></li>
<li><a href="/google" target="_blank" title="Search &amp; Quotes">Search &amp; Quotes</a></li>
</ul>
</div>
<div class="opt" id="pub">
<p class="ads">Advertisment</p>
<style type="text/css">
.sidebar_desktop { display:inline-block; width: 160px; height: 600px; }
@media (max-width: 760px) { .sidebar_desktop { display: none; } }
@media (min-width:761px) { .sidebar_desktop { width: 160px; height: 600px; } }
</style>
<ins class="adsbygoogle sidebar_desktop" data-ad-client="ca-pub-3410145742764658" data-ad-slot="9118148617"></ins>
<script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>    (adsbygoogle = window.adsbygoogle || []).push({});</script>
</div>
</div>
<!-- google_ad_section_start(weight=ignore) -->
<footer id="footer">
<nav><a href="default.asp" title="Go to Home">Home</a> Â· <a href="citasautores.asp" title="Famous Quotes by author">Authors</a> Â· <a href="citastemas.asp" title="Famous Quotes by topic">Topics</a> Â· <a href="proverbs.asp" title="Proverbs">Proverbs</a> Â· <a href="searchquotations.asp" title="Search Famous Quotes">Search</a>
</nav>
<div id="submenuFooter"><span id="copyright">© 2017 <a href="http://www.novixar.com" title="Noves Idees per a la Xarxa, S.L.">Novixar</a></span> | <a href="/acercade.asp">Acerca de</a> | <a href="/avisolegal.asp">Aviso legal</a> | <a href="/publicidad.asp">Publicidad</a> | <a href="/contactar.asp">Contactar</a> | <a href="/preguntasmasfrecuentes.asp">Ayuda</a> | <a href="/mapadelsitio.asp">Mapa del sitio</a> |
<!-- AÃ±ade esta etiqueta donde quieras colocar el botÃ³n +1 -->
<a href="http://validator.w3.org/check?uri=referer" target="_blank">HTML5</a></div>
<p>
</p>
</footer>
<!-- google_ad_section_end -->
</div>
</body>
</html>

In [26]:
quotes = soup.find_all('blockquote')

In [27]:
quotes

[<blockquote>There is a natural aristocracy among men. The grounds of this are virtue and talents. </blockquote>,
 <blockquote>All our words from loose using have lost their edge. </blockquote>,
 <blockquote>God couldn't be everywhere, so he created mothers </blockquote>,
 <blockquote>Be not afraid of going slowly, be afraid only of standing still. </blockquote>,
 <blockquote>Learn from yesterday, live for today, hope for tomorrow. </blockquote>,
 <blockquote>Do not confine your children to your own learning, for they were born in another time. </blockquote>,
 <blockquote>I hear and I forget, I see and I remember. I do and I understand. </blockquote>,
 <blockquote>In teaching others we teach ourselves. </blockquote>,
 <blockquote>Happiness will never come to those who fail to appreciate what they already have. </blockquote>,
 <blockquote>Without His love I can do nothing, with His love there is nothing I cannot do. </blockquote>]

In [28]:
quotes[0].text

'There is a natural aristocracy among men. The grounds of this are virtue and talents. '

In [29]:
quote_list = []
for quote in quotes:
    quote_list.append(quote.text)

In [30]:
import pandas as pd
df = pd.DataFrame(quote_list, columns=['Quote'])
df

                                               Quote
0  There is a natural aristocracy among men. The ...
1  All our words from loose using have lost their...
2  God couldn't be everywhere, so he created moth...
3  Be not afraid of going slowly, be afraid only ...
4  Learn from yesterday, live for today, hope for...
5  Do not confine your children to your own learn...
6  I hear and I forget, I see and I remember. I d...
7            In teaching others we teach ourselves.
8  Happiness will never come to those who fail to...
9  Without His love I can do nothing, with His lo...

In [31]:
authors=soup.find_all('p', class_="a")
authors

[<p class="a">
 <a href="/citasautor.asp?autor=13797" title="Thomas Jefferson Quotes">Thomas Jefferson</a> <span>(1743-1826) Third president of the United States.</span>
 </p>, <p class="a">
 <a href="/citasautor.asp?autor=13355" title="Ernest Hemingway Quotes">Ernest Hemingway</a> <span>(1898-1961) American Writer.</span>
 </p>, <p class="a">
 <a href="/citasautor.asp?autor=15888" title="Jewish proverb Quotes">Jewish proverb</a> <span></span>
 </p>, <p class="a">
 <a href="/citasautor.asp?autor=15866" title="Chinese proverb Quotes">Chinese proverb</a> <span></span>
 </p>, <p class="a">
 <a href="/citasautor.asp?autor=17381" title="Unknown Source Quotes">Unknown Source</a> <span></span>
 </p>, <p class="a">
 <a href="/citasautor.asp?autor=15866" title="Chinese proverb Quotes">Chinese proverb</a> <span></span>
 </p>, <p class="a">
 <a href="/citasautor.asp?autor=15866" title="Chinese proverb Quotes">Chinese proverb</a> <span></span>
 </p>, <p class="a">
 <a href="/citasautor.asp?autor=15855" title="Proverb Quotes">Proverb</a> <span></span>
 </p>, <p class="a">
 <a href="/citasautor.asp?autor=17381" title="Unknown Source Quotes">Unknown Source</a> <span></span>
 </p>, <p class="a">
 <a href="/citasautor.asp?autor=17381" title="Unknown Source Quotes">Unknown Source</a> <span></span>
 </p>]

In [32]:
author_list=[]
for author in authors:
    string = author.text[1:-1]
    author_list.append(string)
df['Author']=author_list
df

,Quote,Author
0,There is a natural aristocracy among men. The ...,Thomas Jefferson (1743-1826) Third president o...
1,All our words from loose using have lost their...,Ernest Hemingway (1898-1961) American Writer.
2,"God couldn't be everywhere, so he created moth...",Jewish proverb
3,"Be not afraid of going slowly, be afraid only ...",Chinese proverb
4,"Learn from yesterday, live for today, hope for...",Unknown Source
5,Do not confine your children to your own learn...,Chinese proverb
6,"I hear and I forget, I see and I remember. I d...",Chinese proverb
7,In teaching others we teach ourselves.,Proverb
8,Happiness will never come to those who fail to...,Unknown Source
9,"Without His love I can do nothing, with His lo...",Unknown Source

In [33]:
url = "http://time.com/4572079/best-inventions-2016/"
page=requests.get(url)

In [35]:
soup = BeautifulSoup(page.text, 'html.parser')
inventions = soup.find_all("h2")

In [36]:
invention_list = []
for invention in inventions:
    invention_list.append(invention.text)

In [38]:
inventionDF = pd.DataFrame(invention_list, columns=["Invention"])

In [39]:
inventionDF

                                    Invention
0                    The Levitating Lightbulb
1                     The Folding Bike Helmet
2           Solar Panels That Don’t Stick Out
3                   Shoes That Tie Themselves
4             Soccer Fields That Fit Anywhere
5    The Headset Leading a Virtual Revolution
6           Cannabis That Could Replace Pills
7                    The Ultimate Alarm Clock
8          Tires That Spin In Every Direction
9               A Sleeker, Smarter Toothbrush
10  Dishes That Work Around Cognitive Decline
11                    The All-Purpose Shelter
12              A Stronger, Softer Hair Dryer
13       Sweet Potatoes That Could Save Lives
14                   A Drone With Mass Appeal
15                   The No-Touch Thermometer
16                    The Artificial Pancreas
17           China’s ‘Heavenly’ Space Station
18          A Prosthesis That’s Built To Play
19              A Crowd-Pleasing Electric Car
20       A Bracelet That Helps Kids Give Back
21         Headphones That Make Wireless Cool
22               The Speaker That Speaks Back
23                    A Personal Air Purifier
24     Barbies That Look More Like Real Girls