In [1]:
import pandas as pd
import numpy as np

s=pd.Series(['0', 'John Wood', 'Colin Welsh', 'my list', '02456', np.nan, 'HELLO WORLD', 'water%'])
s

0              0
1      John Wood
2    Colin Welsh
3        my list
4          02456
5            NaN
6    HELLO WORLD
7         water%
dtype: object

In [3]:
s.str.lower()

0              0
1      john wood
2    colin welsh
3        my list
4          02456
5            NaN
6    hello world
7         water%
dtype: object

In [4]:
s.str.upper()

0              0
1      JOHN WOOD
2    COLIN WELSH
3        MY LIST
4          02456
5            NaN
6    HELLO WORLD
7         WATER%
dtype: object

In [5]:
s.str.len()

0     1.0
1     9.0
2    11.0
3     7.0
4     5.0
5     NaN
6    11.0
7     6.0
dtype: float64

In [6]:
s.str.split(' ')

0               [0]
1      [John, Wood]
2    [Colin, Welsh]
3        [my, list]
4           [02456]
5               NaN
6    [HELLO, WORLD]
7          [water%]
dtype: object

In [7]:
substrings = s.str.split(' ', expand=True)

In [8]:
substrings

        0      1
0       0   None
1    John   Wood
2   Colin  Welsh
3      my   list
4   02456   None
5     NaN   None
6   HELLO  WORLD
7  water%   None

In [11]:
substrings[0]

0         0
1      John
2     Colin
3        my
4     02456
5       NaN
6     HELLO
7    water%
Name: 0, dtype: object

In [12]:
s.str.replace('%',' percent ')

0                 0
1         John Wood
2       Colin Welsh
3           my list
4             02456
5               NaN
6       HELLO WORLD
7    water percent
dtype: object

In [15]:
s.str.split('%')

0              [0]
1      [John Wood]
2    [Colin Welsh]
3        [my list]
4          [02456]
5              NaN
6    [HELLO WORLD]
7        [water, ]
dtype: object

In [16]:
s.str.slice_replace(0,2, '___')

0             ___
1      ___hn Wood
2    ___lin Welsh
3        ___ list
4          ___456
5             NaN
6    ___LLO WORLD
7         ___ter%
dtype: object

In [17]:
flag = s.str.contains('0')
flag

0     True
1    False
2    False
3    False
4     True
5      NaN
6    False
7    False
dtype: object

In [19]:
flag = s.str.contains('0', na=False)
flag

0     True
1    False
2    False
3    False
4     True
5    False
6    False
7    False
dtype: bool

In [20]:
movies = pd.read_csv('tmdb_5000_movies.csv')
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [40]:
genres=movies.genres

In [22]:
genres[0]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [39]:
def transform(s):
    s=s.str.strip('[]')
    s=s.str.replace('\{','')
    s=s.str.replace('\}','')
    s=s.str.replace('\,','')
    s=s.str.replace('\"id\":','')
    s=s.str.replace('\"name\":','')
    s=s.str.replace('"','')
    s=s.str.replace('0','')
    s=s.str.replace('1','')
    s=s.str.replace('2','')
    s=s.str.replace('3','')
    s=s.str.replace('4','')
    s=s.str.replace('5','')
    s=s.str.replace('6','')
    s=s.str.replace('7','')
    s=s.str.replace('8','')
    s=s.str.replace('9','')
    s=s.str.replace('    ',', ')
    s=s.str.replace('   ','')
    return s

In [41]:
genres= transform(genres)
genres[0]

'Action, Adventure, Fantasy, Science Fiction'

In [42]:
movies.genres=genres

In [43]:
movies.loc[:,['title','genres']].head(10)

,title,genres
0,Avatar,"Action, Adventure, Fantasy, Science Fiction"
1,Pirates of the Caribbean: At World's End,"Adventure, Fantasy, Action"
2,Spectre,"Action, Adventure, Crime"
3,The Dark Knight Rises,"Action, Crime, Drama, Thriller"
4,John Carter,"Action, Adventure, Science Fiction"
5,Spider-Man 3,"Fantasy, Action, Adventure"
6,Tangled,"Animation, Family"
7,Avengers: Age of Ultron,"Action, Adventure, Science Fiction"
8,Harry Potter and the Half-Blood Prince,"Adventure, Fantasy, Family"
9,Batman v Superman: Dawn of Justice,"Action, Adventure, Fantasy"

In [44]:
movies.keywords[0]

'[{"id": 1463, "name": "culture clash"}, {"id": 2964, "name": "future"}, {"id": 3386, "name": "space war"}, {"id": 3388, "name": "space colony"}, {"id": 3679, "name": "society"}, {"id": 3801, "name": "space travel"}, {"id": 9685, "name": "futuristic"}, {"id": 9840, "name": "romance"}, {"id": 9882, "name": "space"}, {"id": 9951, "name": "alien"}, {"id": 10148, "name": "tribe"}, {"id": 10158, "name": "alien planet"}, {"id": 10987, "name": "cgi"}, {"id": 11399, "name": "marine"}, {"id": 13065, "name": "soldier"}, {"id": 14643, "name": "battle"}, {"id": 14720, "name": "love affair"}, {"id": 165431, "name": "anti war"}, {"id": 193554, "name": "power relations"}, {"id": 206690, "name": "mind and soul"}, {"id": 209714, "name": "3d"}]'

In [100]:
keywords = movies.keywords

In [115]:
def transform(s):
    s=s.str.strip('[]')
    s=s.str.replace('\{','')
    s=s.str.replace('\}','')
    s=s.str.replace('\"id\": [0-9]+','')
    s=s.str.replace('\"name\":','')
    s=s.str.replace('"','')
    s=s.str.replace('\,  ','')
    s=s.str.replace('    ',', ')
    s=s.str.replace('   ','')
    return s

In [117]:
s=pd.Series(['0', 'John Wood', 'Colin Welsh', 'my list', '02456', np.nan, 'HELLO WORLD', 'water%'])

In [118]:
s.str.contains('John')

0    False
1     True
2    False
3    False
4    False
5      NaN
6    False
7    False
dtype: object

In [119]:
s.str.contains('John|Colin')

0    False
1     True
2     True
3    False
4    False
5      NaN
6    False
7    False
dtype: object

In [120]:
s2 = pd.Series(['bar', 'sugar', 'cartoon', 'argon'])

In [121]:
s2.str.contains(".ar")

0     True
1     True
2     True
3    False
dtype: bool

In [123]:
s3= pd.Series(['forest', 'o', 'ff', 'foo', 'fof'])
s3.str.contains("f+o?f+")

0    False
1    False
2     True
3    False
4     True
dtype: bool

In [124]:
s4= pd.Series(['Monday5km', 'Wednesday10km', 'Saturday25km'])

In [125]:
s4.str.extract('(\w+day)',expand=True)

           0
0     Monday
1  Wednesday
2   Saturday

In [127]:
def f(x):
    return x.groups()[0][:3]

In [128]:
s4.str.replace('(\w+day)',f)

0     Mon5km
1    Wed10km
2    Sat25km
dtype: object

In [129]:
meal_plan = ['Monday: 9:12am – Omelet,  3:30pm– Apple slices with almond butter', 
             'Tuesday: 9:35am – Banana bread, 11:00am –Sauteed veggies, 7:02pm– Taco pie',
             'Wednesday: 9:00am – Banana pancakes',  
             'Thursday: 7:23pm– Slow cooker pulled pork', 'Friday: 3:30pm – Can of tuna', 
             'Saturday: 9:11am: Eggs and sweet potato hash browns, 3:22pm: Almonds', 
             'Sunday: 11:00am: Meat and veggie stir fry']

In [130]:
df = pd.DataFrame(meal_plan, columns=['text'])
df

                                                text
0  Monday: 9:12am – Omelet,  3:30pm– Apple slices...
1  Tuesday: 9:35am – Banana bread, 11:00am –Saute...
2                Wednesday: 9:00am – Banana pancakes
3          Thursday: 7:23pm– Slow cooker pulled pork
4                       Friday: 3:30pm – Can of tuna
5  Saturday: 9:11am: Eggs and sweet potato hash b...
6          Sunday: 11:00am: Meat and veggie stir fry

In [143]:
time = df.text.str.extractall('(\d?\d+):(\d\d)([ap]m)')

In [145]:
days = ["Mon","Tue","Wed","Thu","Fri","Sat","Sun"]

In [146]:
meals = ["breakfast","lunch","dinner"]

In [150]:
time.index.set_levels([days,meals], inplace=True)

In [153]:
time.index.set_names(["Day","Meal"], inplace=True)

In [155]:
time.columns=["Hour","Minute","Period"]

In [156]:
time

              Hour Minute Period
Day Meal
Mon breakfast    9     12     am
    lunch        3     30     pm
Tue breakfast    9     35     am
    lunch       11     00     am
    dinner       7     02     pm
Wed breakfast    9     00     am
Thu breakfast    7     23     pm
Fri breakfast    3     30     pm
Sat breakfast    9     11     am
    lunch        3     22     pm
Sun breakfast   11     00     am

In [152]:
time

                0   1   2
    match
Mon breakfast   9  12  am
    lunch       3  30  pm
Tue breakfast   9  35  am
    lunch      11  00  am
    dinner      7  02  pm
Wed breakfast   9  00  am
Thu breakfast   7  23  pm
Fri breakfast   3  30  pm
Sat breakfast   9  11  am
    lunch       3  22  pm
Sun breakfast  11  00  am

In [141]:
time

          0   1   2
  match
0 0       9  12  am
  1       3  30  pm
1 0       9  35  am
  1      11  00  am
  2       7  02  pm
2 0       9  00  am
3 0       7  23  pm
4 0       3  30  pm
5 0       9  11  am
  1       3  22  pm
6 0      11  00  am

In [139]:
index = pd.MultiIndex[levels=['Monday','Tuesday']]

AttributeError: 'Index' object has no attribute '_inferred_type_levels'

In [134]:
minutes

          0
  match
0 0      12
  1      30
1 0      35
  1      00
  2      02
2 0      00
3 0      23
4 0      30
5 0      11
  1      22
6 0      00

'culture clash, future, space war, space colony, society, space travel, futuristic, romance, space, alien, tribe, alien planet, cgi, marine, soldier, battle, love affair, anti war, power relations, mind and soul, 3d'

In [95]:
keywords[0]

'id: 1463  culture clash id: 2964  future id: 3386  space war id: 3388  space colony id: 3679  society id: 3801  space travel id: 9685  futuristic id: 9840  romance id: 9882  space id: 9951  alien id: 10148  tribe id: 10158  alien planet id: 10987  cgi id: 11399  marine id: 13065  soldier id: 14643  battle id: 14720  love affair id: 165431  anti war id: 193554  power relations id: 206690  mind and soul id: 209714  3d'

In [94]:
keywords = transform(keywords)

In [90]:
keywords

0                        culture clash  future  space war
1                        ocean  drug abuse  exotic island
2                       spy  based on novel  secret agent
3                     dc comics  crime fighter  terrorist
4                         based on novel  mars  medallion
5                       dual identity  amnesia  sandstorm
6                                   hostage  magic  horse
7                         marvel comic  sequel  superhero
8                                     witch  magic  broom
9                         dc comics  vigilante  superhero
10           saving the world  dc comics  invulnerability
11                      killing  undercover  secret agent
12                         witch  fortune teller  bondage
13                                 texas  horse  survivor
14                 saving the world  dc comics  superhero
15      based on novel  fictional place  brother siste...
16                         new york  shield  marvel comic
17                                   sea  captain  mutiny
18                       time travel  time machine  alien
19                             corruption  elves  dwarves
20                       loss of father  vigilante  serum
21                             robin hood  archer  knight
22                                   elves  dwarves  orcs
23                           england  compass  experiment
24               film business  screenplay  show business
25                               shipwreck  iceberg  ship
26                           civil war  war  marvel comic
27                         fight  u.s. navy  mind reading
28                        monster  dna  tyrannosaurus rex
29                           spy  secret agent  sociopath
                              ...
4773               salesclerk  loser  aftercreditsstinger
4774                                                  NaN
4775                                                  NaN
4776                       office  love  independent film
4777                                                  NaN
4778                     rampage  massacre  killing spree
4779                            moon  philosophy  burglar
4780                                                  NaN
4781                           dating  divorce  sex scene
4782       christianity  father son relationship  georgia
4783                                                  NaN
4784                                                  NaN
4785                                                  NaN
4786                                                  NaN
4787                                                  NaN
4788                       gay  trailer park  pop culture
4789     addiction  recovering drug addict  estranged son
4790                                                  NaN
4791                                                  NaN
4792                             japan  prostitute  hotel
4793                      confession  hazing  gang member
4794                                                  NaN
4795                          gang  audition  police fake
4796                    distrust  garage  identity crisis
4797                                                  NaN
4798            united states\umexico barrier  legs  arms
4799                                                  NaN
4800                 date  love at first sight  narration
4801                                                  NaN
4802                          obsession  camcorder  crush
Length: 4803, dtype: object

In [74]:
keywords_df = keywords.str.split(",", expand=True)

In [75]:
keywords_df

,0,1,2,3,4,5,6,7,8,9,...,87,88,89,90,91,92,93,94,95,96
0,culture clash,future,space war,space colony,society,space travel,futuristic,romance,space,alien,...,None,None,None,None,None,None,None,None,None,None
1,ocean,drug abuse,exotic island,east india trading company,love of one's life,traitor,shipwreck,strong woman,ship,alliance,...,None,None,None,None,None,None,None,None,None,None
2,spy,based on novel,secret agent,sequel,mi,british secret service,united kingdom,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,dc comics,crime fighter,terrorist,secret identity,burglar,hostage drama,time bomb,gotham city,vigilante,cover-up,...,None,None,None,None,None,None,None,None,None,None
4,based on novel,mars,medallion,space travel,princess,alien,steampunk,martian,escape,edgar rice burroughs,...,None,None,None,None,None,None,None,None,None,None
5,dual identity,amnesia,sandstorm,love of one's life,forgiveness,spider,wretch,death of a friend,egomania,sand,...,None,None,None,None,None,None,None,None,None,None
6,hostage,magic,horse,fairy tale,musical,princess,animation,tower,blonde woman,selfishness,...,None,None,None,None,None,None,None,None,None,None
7,marvel comic,sequel,superhero,based on comic book,vision,superhero team,duringcreditsstinger,marvel cinematic universe,d,None,...,None,None,None,None,None,None,None,None,None,None
8,witch,magic,broom,school of witchcraft,wizardry,apparition,teenage crush,werewolf,None,None,...,None,None,None,None,None,None,None,None,None,None
9,dc comics,vigilante,superhero,based on comic book,revenge,super powers,clark kent,bruce wayne,dc extended universe,None,...,None,None,None,None,None,None,None,None,None,None
10,saving the world,dc comics,invulnerability,sequel,superhero,based on comic book,kryptonite,super powers,superhuman strength,lex luthor,...,None,None,None,None,None,None,None,None,None,None
11,killing,undercover,secret agent,british secret service,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
12,witch,fortune teller,bondage,exotic island,monster,captain,card game,east india trading company,compass,ship,...,None,None,None,None,None,None,None,None,None,None
13,texas,horse,survivor,texas ranger,partner,outlaw,escape,lawyer,train,lone ranger,...,None,None,None,None,None,None,None,None,None,None
14,saving the world,dc comics,superhero,based on comic book,superhuman,alien invasion,reboot,super powers,dc extended universe,None,...,None,None,None,None,None,None,None,None,None,None
15,based on novel,fictional place,brother sister relationship,lion,human being,wretch,leap in time,matter of life and death,faith,uncle,...,None,None,None,None,None,None,None,None,None,None
16,new york,shield,marvel comic,superhero,based on comic book,alien invasion,superhero team,aftercreditsstinger,duringcreditsstinger,marvel cinematic universe,...,None,None,None,None,None,None,None,None,None,None
17,sea,captain,mutiny,sword,prime minister,sailing,silver,ship,duke,mermaid,...,None,None,None,None,None,None,None,None,None,None
18,time travel,time machine,alien,fictional government agency,seeing the future,changing history,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
19,corruption,elves,dwarves,orcs,middle-earth (tolkien),hobbit,dragon,battle,unlikely friendship,epic battle,...,None,None,None,None,None,None,None,None,None,None
20,loss of father,vigilante,serum,marvel comic,scientific experiment,spider bite,masked vigilante,reboot,super powers,genetic engineering,...,None,None,None,None,None,None,None,None,None,None
21,robin hood,archer,knight,sherwood forest,bow and arrow,middle ages,medieval,king of england,None,None,...,None,None,None,None,None,None,None,None,None,None
22,elves,dwarves,orcs,hobbit,dragon,wizard,sword and sorcery,None,None,None,...,None,None,None,None,None,None,None,None,None,None
23,england,compass,experiment,lordship,uncle,polar bear,orphan,animal,based on young adult novel,None,...,None,None,None,None,None,None,None,None,None,None
24,film business,screenplay,show business,film making,film producer,exotic island,monster,indigenous,ship,dinosaur,...,None,None,None,None,None,None,None,None,None,None
25,shipwreck,iceberg,ship,panic,titanic,ocean liner,epic,rich woman - poor man,love,disaster,...,None,None,None,None,None,None,None,None,None,None
26,civil war,war,marvel comic,sequel,superhero,based on comic book,imax,aftercreditsstinger,duringcreditsstinger,marvel cinematic universe,...,None,None,None,None,None,None,None,None,None,None
27,fight,u.s. navy,mind reading,hong kong,soccer,scientist,fictional war,naval,armada,battleship,...,None,None,None,None,None,None,None,None,None,None
28,monster,dna,tyrannosaurus rex,velociraptor,island,sequel,suspense,disaster,escape,dinosaur,...,None,None,None,None,None,None,None,None,None,None
29,spy,secret agent,sociopath,killer,art gallery,british secret service,istanbul turkey,imax,uzi,booby trap,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4773,salesclerk,loser,aftercreditsstinger,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4774,dream,prostitution,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4775,mumblecore,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4776,office,love,independent film,secretary,misogynist,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4777,,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4778,rampage,massacre,killing spree,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4779,moon,philosophy,burglar,texas,dream,atomic bomb,tent,anarchist,telescope,ufo,...,None,None,None,None,None,None,None,None,None,None
4780,,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4781,dating,divorce,sex scene,sex comedy,anti romantic comedy,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4782,christianity,father son relationship,georgia,ark of the covenant,minister,christian film,repentance,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4783,possession,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4784,mumblecore,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4785,,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4786,independent film,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4787,superhero,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4788,gay,trailer park,pop culture,drug dealer,heroin,fetishism,spanner,excrements,disgust,dog dirt,...,None,None,None,None,None,None,None,None,None,None
4789,addiction,recovering drug addict,estranged son,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4790,,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4791,home invasion,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4792,japan,prostitute,hotel,based on novel,hallucination,interview,investigation,murder,junkyard,interrogation,...,None,None,None,None,None,None,None,None,None,None
4793,confession,hazing,gang member,latino,lgbt,catholic priest,shakespeare's romeo and juliet,latino lgbt,gang initiation,gunplay,...,None,None,None,None,None,None,None,None,None,None
4794,,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4795,gang,audition,police fake,homeless,actress,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4796,distrust,garage,identity crisis,time travel,time machine,mathematics,independent film,paradox,mechanical engineering,None,...,None,None,None,None,None,None,None,None,None,None
4797,,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4798,united states\umexico barrier,legs,arms,paper knife,guitar case,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4799,,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4800,date,love at first sight,narration,investigation,team,postal worker,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4801,,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4802,obsession,camcorder,crush,dream girl,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [81]:
first3 = keywords_df[[0,1,2]]

In [86]:
keywords = first3[0]+", "+first3[1]+", "+first3[2]
movies["keywordsString"] = keywords

In [87]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,keywordsString
0,237000000,"Action, Adventure, Fantasy, Science Fiction",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,"culture clash, future, space war"
1,300000000,"Adventure, Fantasy, Action",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,"ocean, drug abuse, exotic island"
2,245000000,"Action, Adventure, Crime",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,"spy, based on novel, secret agent"
3,250000000,"Action, Crime, Drama, Thriller",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,"dc comics, crime fighter, terrorist"
4,260000000,"Action, Adventure, Science Fiction",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,"based on novel, mars, medallion"